.wrapper {
    position: relative;
    width: 320px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    padding: 5px 16px;
    min-width: 106px;
    font-family: ProximaNova, PingFangSC, sans-serif;
    font-weight: 600;
}

.body {
    margin-top: 12px;
}

.nickname {
    font-size: 1.8rem;
    line-height: 22px;
}

.check {
    color: #20D5EC;
    font-size: 1.4rem;
}

.name {
    font-size: 1.4rem;
}

.analytics {
    font-size: 1.6rem;
    margin-top: 8px;
}

.value ~ .value {
    margin-left: 12px;
}

.label {
    color: #161823bf;
    font-size: 17px;
}
